.intro-1{
    color: #172c66;
    font-size: 20px;
    text-align: center;
    padding: 30px 20px;
}
h2{
    text-align:center;
    color: #001858;   
}
.card{
    display: flex; 
    padding-left: 50px;
}
.mission{
    width: 350px;
    height: 350px;
    border: 1px solid black;
    margin: 5px auto;
    padding: 10px;
    
}
.heading{
    font-size: 30px;
    text-align: center;
    color: #001858;
}
.about{
    color: #172c66;
    font-size: 20px;
}
.card-1{
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
}
 
.img{
    width: 100%;
    
}
  
.item{
width: 250px;
height: 300px;
border: 1px solid #232946;
margin: 10px;
padding: 10px;
background-color: #b8c1ea;
 }
.img-1{
     width: 250px;
     height: 170px;
     border-radius: 2px;
 }
.head{
    font-size:21px;
    color: #2D336B;
    text-align: center;
 }
.para{
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15;
 }