.intro-1{
    color: #172c66;
    font-size: 20px;
    text-align: center;
    padding: 30px 20px;
}
.our{
    text-align:center;
    color: #001858;   
}
.card{
    display: flex; 
    padding-left: 50px;
}
.mission{
    width: 350px;
    height: 350px;
    border: 1px solid black;
    margin: 5px auto;
    padding: 10px;
    border-radius: 10px;
    
}
.heading{
    font-size: 30px;
    text-align: center;
    color: #001858;
}
.aboutus{
    color: #172c66;
    font-size: 20px;
}
.card-1{
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
}
 
.img{
    width: 100%;
   
    
}
  
.item{
width: 250px;
height: 350px;
border: 1px solid #232946;
margin: 10px 20px;
padding: 5px;
background-color: #b8c1ea;
border-radius: 10px;
box-shadow: 0px 0px 2px 2px black;
 }
 .item:hover{
    width: 260px;
    height: 355px;
    border: 1px solid #232946;
    margin: 15px;
    padding: 10px;
    background-color: #b8c1ea;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px rgb(32, 32, 32);
    transition: 0.2s;
     }
.img-1{
     width: 250px;
     height: 200px;
     border-radius: 2px;
 }
.head{
    font-size:21px;
    color: #2D336B;
    text-align: center;
 }
.para{
    font-size: 15;
 }
 .imgm{
    width: 100%;
    height: 500px;

 }
 .team{
    display: flex;
    justify-content: center;
    margin: 20px;
 }
 .name{
    font-size: 25px;
    color:cornflowerblue;
 }




@media screen and (max-width: 700px) {


    .intro-1 {
        font-size: 16px;
        text-align: justify;
        padding: 10px;
    }

    .our{
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
    }

    .mission {
        width: 95%;
        text-align: center;
        padding: 10px;
    }

    .card, .card-1 {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .imgm {
        height: 250px;
        width: 100%;
    }

    .img-1 {
        width: 100%;
        height: auto;
    }

    .item {
        width: 100%;
        height: auto;
        margin: 10px 0;
    }

    .name {
        font-size: 20px;
    }

    .para {
        font-size: 14px;
    }
}