label{
    color:#232946;
    font-size: large;
    margin-top: 50px;
}
.bt{
    background-color: black;
    color: white;
    display: block;
    margin: 30px auto;
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    font-size: 20px;


    
}
.b1:hover {
box-shadow: 1px 1px 4px 4px gray;
background-color:  #9da4d1;
}
form{
text-align: center;
}
.ip{
border-radius: 5px;
padding: 6px;
}



@media screen and (max-width: 767px) {
form {
width: 90%;
padding: 15px;
}

label {
font-size: 16px;
}

input {
width: 100%;
}

.bt {
font-size: 14px;
width: 130px;
}
}


@media screen and (min-width: 1200px) {
form {
width: 50%;
text-align: center;
}

.bt {
width: 160px;
}
}