.sub-head{
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    padding: 20px 50px;

  } 
  h2{
   margin-top: 60px;
   font-size: 30px;
   margin-left: 70px;
   font-family: Arial, Helvetica, sans-serif;
  }
  
  .container{
   display: inline-block;
   width: 55%;
   text-align: center;
   margin-top: 30px;
  }
  .item{
      height: 240px;
      width: 220px;
      border: 2px solid grey ;
      border-radius: 5px ;
      background-color: #fffffe;
      margin-top: 60px;

  }
 #ab{
   width: 100px;
   height: 100px;
  }
  
  .branch{
   display: inline-block;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   margin-top: 80px;
   background-color: #c1c7ec;

  }
  .map{
   margin-right: 0px;
  }
  .head{
   font-size: 30px;
   margin-top: 250px;

  }
 .contact-info{
    position: relative;
    left: 40%;
    font-weight: 10px;
    margin: 10px 0;
    text-decoration: none;
    font-size: 20px;
    color: #2D336B;
}
.contact-info:hover{
    text-decoration: underline;
    color: #1f255a;
}
.contact-ico{
    position: relative;
    left: 38%;
    color: #2D336B;
    font-size: 30px;
    margin: 10px 0;
}

@media screen and (max-width: 767px) {
    .container {
        width: 90%;
    }

    .contact-info {
        font-size: 16px;
        display: block;
        text-align: center;
    }

    .contact-icon {
        font-size: 26px;
    }

    .map {
        width: 100%;
        height: 350px;
    }

    .branch {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .head {
        font-size: 22px;
    }
}