.intro-3{
    color: #172c66;
    font-size: 20px;
    text-align: center;
    padding: 30px 20px;
}
.logo{
    width: 100%;
    height: 500px;
}
.students{
    width: 300px;
    height: 500px;
    border: 1px solid #232946;
    margin: 40px;
    padding: 5px;
    background-color: #b8c1ea;
    border-radius: 10px;
    
}
.topers{
    display: flex;
    justify-content: center;
    
}
.btn{
    margin-left: 750px;
    background-color: #f582ae;
    color: #001858;
    
}
.our{
    text-align: center;
    color: #001858;
}
.c-img{
    height: 300px;
    padding-left: 40px; 
}
.c-img-1{
    width: 250px;
    padding-left: 20px; 
    margin-top: 30px;
}
.c-img-2{
    height: 200px;
    width: 250px;
    padding-left: 20px; 
    border-radius: 10px;
}
.staff{
    width: 300px;
    height: 430px;
    border: 1px solid #232946;
    margin: 30px;
    padding: 10px;
    background-color: #b8c1ea;  
    border-radius: 10px;  
}
.rank{
    font-size: 25px;
    text-align: center;
}
.bt{
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    display: block;
    margin: 10px auto;

}
.a{
    text-decoration:none;
}
.intro-1{
    color: #172c66;
    font-size: 25px;
    text-align: center;
    padding: 30px 20px;
}

@media screen and (max-width: 767px) {
    .intro-1 {
        font-size: 16px;
        text-align: justify;
        padding: 10px;
    }

    .logo {
        width: 100%;
        height: auto;
    }

    .intro-3 {
        font-size: 16px;
        padding: 10px;
        text-align: justify;
    }

    .topers {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .students, .staff {
        width: 90%;
        height: auto;
        text-align: center;
    }

    .c-img, .c-img-1, .c-img-2 {
        width: 100%;
        height: auto;
    }

    .bt {
        font-size: 16px;
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    .btn {
        margin: 10px auto;
        display: block;
        text-align: center;
        font-size: 18px;
    }
}