.intro-3{
    color: #172c66;
    font-size: 20px;
    text-align: center;
    padding: 30px 20px;
}
.logo{
    width: 100%;
}
.students{
    width: 300px;
    height: 400px;
    border: 1px solid #232946;
    margin: 10px;
    padding: 10px;
    background-color: #b8c1ea;
    
}
.topers{
    display: flex;
    flex-wrap: wrap;
}
.btn{
    margin-left: 750px;
    background-color: #f582ae;
    color: #001858;
    
}
h2{
    text-align: center;
    color: #001858;
}
.c-img-1{
    width: 210px;
    padding-left: 40px; 
    margin-top: 20px;
}
.c-img{
    height: 300px;
    padding-left: 40px; 
}
.c-img-2{
    height: 200px;
    width: 250px;
    padding-left: 20px; 
    margin-top: 20px;
}
.staff{
        width: 300px;
        height: 400px;
        border: 1px solid #232946;
        margin: 10px;
        padding: 10px;
        background-color: #b8c1ea;    
}
.c-img-3{
    width: 250px;
    padding-left: 20px; 
    margin-top: 20px;
}
.rank{
    font-size: 30px;
}
.bt{
    background-color: #828edf ;
    font-size: 15px;
    color: #232946;
    padding: 5px 5px;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 15px 15px;
    cursor: pointer;   
}